doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title ログアウト
  body
    h1 ログアウトしました
    form(method="post", action=path)
      br
      a(href="/enquetes/yaki-shabu") やきしゃぶログイン
      br
      a(href="/enquetes/rice-bread") ぱんごはんログイン
      br
      a(href="/enquetes/sushi-pizza") 寿司ピザログイン